<div class="modal-container" id="gacha-modal"> <!-- Use class open to display -->
    <div class="border-spin-special-box animate pink-gold"> <!-- Border wrapper -->
        <div class="modal-content"> <!-- Wrapper -->
            <!-- Header -->
            <div class="modal-header">
                <span class="">GACHA MACHINE - NHD ASMR&ensp;</span>
                <div class="close-btn" id="close-gacha-modal-btn">
                    <div class="x-special-button border animate pink-gold">
                        <div class="x-sub-special-button"></div>
                        <div class="x-sub-special-border"></div>
                        <div class="x-sub-special-big-border"></div>
                        <div class="x-sub-special-big-border-hidden"></div>
                    </div>
                </div>
            </div>

            <!-- Body -->
            <div class="gacha-modal-body">
                <div class="gacha-grid-container"> <!-- Grid container -->

                    <!-- Item template -->
                    <div data-code="79769" class="grid-item" style="opacity: 1;">
                        <!-- Image container -->
                        <div class="image-container">
                            <a href="/watch?code=79769">
                                <img loading="lazy" decoding="async" referrerpolicy="no-referrer"
                                    src="https://api.asmr-200.com/api/cover/437264.jpg?type=main"
                                    alt=" - Thumbnail:79769">
                            </a>
                        </div>
                        <!-- Description container -->
                        <div class="flex-container">
                            <a href="/watch?code=79769"> <!-- Code, name, link -->
                                <div class="text-container">
                                    <p class="multiline-ellipsis">
                                        <b>
                                            <i p-rjcode>RJ437264</i>
                                        </b> -
                                        <span p-engname>
                                            A wife with a strong sexual
                                            desire who cares
                                            deeply and is kind to you 2!
                                        </span>
                                    </p>
                                </div>
                            </a>
                            <div class="text-container"> <!-- List CV -->
                                <p class="singleline-ellipsis t-cv">
                                    <br>
                                    <b p-cv-label>CV</b>:
                                    <span class="list-cv" p-cvs>
                                        <a title="CV: Chiroru Oyama" class="cv" href="..?cv=Chiroru Oyama">Chiroru
                                            Oyama</a>
                                    </span>
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <!-- GACHA_MODAL.FOOTER -->
            <div class="modal-footer">
                <!-- Blank div -->
                <div class=""></div>

                <!-- Button gacha x1 -->
                <div data-count="1" class="special-button" id="gachaX1">
                    <div class="sub-special-button" style="display:none"></div>
                </div>

                <!-- Button gacha x10 -->
                <div data-count="10" class="special-button" id="gachaX10">
                    <div class="sub-special-button"></div>
                    <div class="sub-special-button left"></div>
                    <div class="shard shard-1"></div>
                    <div class="shard shard-2"></div>
                    <div class="shard shard-3"></div>
                    <div class="shard shard-4"></div>
                    <div class="shard shard-5"></div>
                    <div class="shard shard-6"></div>
                    <div class="shard shard-7"></div>
                    <div class="shard shard-8"></div>
                    <div class="shard shard-9"></div>
                    <div class="shard shard-10"></div>
                </div>

                <!-- Blank div -->
                <div class=""></div>
            </div>
        </div>
    </div>
</div>