<div class="header">
    <!-- TOGGLE MENU BTN -->
    <div class="button-div">
        <h1 class="button-open" id="toggle-menu-btn">&#9776;</h1>
    </div>

    <!-- APP TITLE & ICON -->
    <div class="title-div">
        <a href="/">
            <h1 class="title">
                <img src="/@resources/icons/icon-edited.webp">
                NHD ASMR
            </h1>
        </a>
    </div>

    <!-- SEARCH DIV -->
    <div class="search-div">
        <div class="search-div2">
            <input type="text" class="search-input" id="main-search-input"
                placeholder="Search here... (Use + to split many categories keyword)" value="">
            <div class="search-icon" id="main-search-icon">
                <h1><i class="fas fa-search"></i></h1>
            </div>
        </div>
        <div class="result-box">
            <!-- LIST OF SUBMISSION RESULT OF KEYWORD -->
            <a href="javascript:void(0)"><i class="fas fa-search"></i>&nbsp;
                <strong>Type</strong>:
                <span class="cnt">Value</span>
            </a>
        </div>
    </div>
</div>