<div class="footer">
    <h1 class="title">NHD Hentai - ASMR Hentai</h1>

    <div class="footer-content">
        <!-- GRID 1 -->
        <div class="grid-item">
            <h2>Source ASMR Websites</h2>
            <a target="_blank" href="https://www.dlsite.com/maniax/asmr">
                <span style="color: #00BFFF;">►</span>DLsite
            </a>
            <a target="_blank" href="https://japaneseasmr.com/">
                <span style="color: #00BFFF;">►</span>Japanese ASMR
            </a>
            <a target="_blank" href="https://www.asmr.one/works">
                <span style="color: #00BFFF;">►</span>ASMR ONE
            </a>
            <a target="_blank" href="https://nightfawn.com/listen-public/">
                <span style="color: #00BFFF;">►</span>Nightfawn ASMR
            </a>
            <a target="_blank" href="https://www.jasmr.net/">
                <span style="color: #00BFFF;">►</span>JASMR
            </a>
        </div>

        <!-- GRID 2 -->
        <div class="grid-item">
            <h2>Many Type Of Hentai Website</h2>
            <a target="_blank" href="https://hentaianimezone.com/">
                <span style="color: #00BFFF;">►</span>HentaiAnimeZone
            </a>
        </div>

        <!-- GRID 3 -->
        <div class="grid-item">
            <h2>Manga Hentai Websites</h2>
            <a target="_blank" href="https://imhentai.xxx/">
                <span style="color: #00BFFF;">►</span>IMHentai
            </a>
            <a target="_blank" href="https://hentaifox.com/">
                <span style="color: #00BFFF;">►</span>HentaiFox
            </a>
            <a target="_blank" href="https://doujins.com/tags/Audio">
                <span style="color: #00BFFF;">►</span>Doujins
            </a>
        </div>
    </div>

    <p class="c">© 2023 NHD Hentai - ASMR Hentai. All rights reserved.</p>
</div>