<div class="hidden-data-container">
    <!-- LIST OF HIDDEN ITEMS *Edit opacity to 1 to display-->
    <div class="hidden-info" id="hidden_info_of_114641" style="right: 100px; top: 200px; opacity: 0;">
        <!-- Content container -->
        <div class="content-container">
            <h3>
                <b>RJ Code</b>:
                <span class="rj-code">RJ01185774</span>
            </h3>
            <h3>
                <b>Series</b>:
                <span class="list-series">
                    <span class="series">異世界・ファンタジー</span>
                </span>
            </h3>
            <h3>
                <b>Eng Name</b>:
                <span class="e-name">
                    When I was reincarnated in another world, I was raped by the older sister of a big-breasted
                    gravure idol who hates me ~ Creampie sex that won’t end until she get pregnant ~
                </span>
            </h3>
            <h3>
                <b>Original Name</b>:
                <span class="j-name">
                    異世界転生したら俺のことが嫌いな爆乳グラビアアイドルの姉に逆レ〇プされた件～孕むまで終わらない中出し性活～ 【抱き枕推奨/ファンタジー/中出し】
                </span>
            </h3>
            <h3>
                <b>CV</b>:
                <span class="list-cv">
                    <a class="cv" href="/?cv=星野天">星野天</a>,
                    <a class="cv" href="/?cv=星野天">星野天</a>
                </span>
            </h3>
            <h3>
                <b>Tags</b>:
                <span class="list-tag">
                    <span class="tag">AI一部利用</span>,
                    <span class="tag">Big Breasts</span>,
                    <span class="tag">Blowjob</span>,
                    <span class="tag">Paizuri</span>,
                    <span class="tag">Rape</span>,
                    <span class="tag">Swimwear</span>
                </span>
            </h3>
        </div>

        <!-- Image container -->
        <div class="image-container">
            <img loading="lazy" decoding="async" referrerpolicy="no-referrer"
                src="https://api.asmr-200.com/api/cover/1360895.jpg" alt=" - Thumbnail:114641">
        </div>
    </div>
</div>