<div class="menu">
    <a class="title">
        <h1 class="">NHD ASMR - Menu</h1>
    </a>
    <a class="menu-item" id="close-menu-btn" href="javascript:void(0)">Close Menu</a>
    <a class="menu-item direct-items">
        Directions:
        <div class="item back-item" title="Back"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
        <div class="item reload-item" title="Reload"><i class="fa fa-refresh" aria-hidden="true"></i></div>
        <div class="item forward-item" title="Forward"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
    </a>
    <!-- <a class="menu-item" id="advance-search-btn">Advance Search 🔎</a> -->
    <a class="menu-item" id="open-categories-modal-btn">Categories</a>
    <a class="menu-item" id="open-gacha-modal-btn">Gacha Machine</a>
    <a class="menu-item" id="clear-cache">Clear Cache</a>
</div>